
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin: 20px;">
    <div class="container-fluid ">
      <a class="navbar-brand" href="#" >
        <img src="https://images.vexels.com/media/users/3/144007/isolated/lists/6150d0cfaabb9b2fc29008ee0f8cf099-icone-de-derrame-de-hamburguer-fast-food.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
        NG-FOOD
      </a>
    
     <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Cardápio
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a class="dropdown-item" [routerLink]="['/comida']" >Comidas</a></li>
            <li><a class="dropdown-item"[routerLink]="['/bebidas']" >Bebidas</a></li>
          </ul>
        </li>
      
      </ul>
    
    </div>
    <a href="#">
    <i class="fa-solid fa-cart-shopping" style="color: antiquewhite; font-size: 20px;"><span class="badge bg-secondary" style="font-size: 8px;">0</span></i></a>

        </div>
  </nav>

  