.flex {
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: white;
}

header {
  width: 100%;
  height: 45px;
  background-color: #f1f1f1;
  position: fixed;
  top: 0;
  box-sizing: border-box;
  border-bottom: solid 1px rgba(0, 0, 0, 0.096);
}
header nav {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  margin-left: 5px;
  box-sizing: border-box;
  white-space: nowrap;
}
header nav .logo {
  display: inline-block;
  margin: 0;
  padding: 0;
}
header nav .logo a {
  text-decoration: none;
  margin-right: 5px;
}
header nav .logo img {
  width: 25px;
  height: 20px;
  margin: 0 auto;
}
header nav .logo h1 {
  display: inline-block;
  margin: 0;
  font-size: 15px;
}
header nav .logo h1 a {
  color: rgba(82, 82, 82, 0.507);
  font-family: tahoma;
  text-shadow: 1px 1px 2px rgba(35, 154, 175, 0.692);
  margin-left: 10px;
  text-decoration: none;
}
header nav .search {
  margin-right: 10px;
}
header nav .search .site-search {
  font-size: 8px;
}
header nav .button-top {
  color: rgba(51, 117, 161, 0.603);
  font-size: 8px;
}

.form {
  margin-top: 10px;
  width: 100%;
  height: 300px;
  background-color: #f1f1f1;
  border-bottom: solid 1px rgba(0, 0, 0, 0.096);
  border-top: solid 1px rgba(0, 0, 0, 0.096);
  overflow: auto;
}
.form h3 {
  color: #097777;
  font-family: "Raleway", sans-serif, "Open Sans", sans-serif;
  margin: 10px 15px;
}
.form label {
  color: rgba(31, 31, 31, 0.787);
  font-family: "Raleway", sans-serif, "Open Sans", sans-serif;
  margin: 14px 15px;
}
.form input {
  margin: 0px 15px;
}
.form textarea {
  margin: 10px 15px;
}

.event_list {
  margin-top: 10px;
  width: 100%;
  height: 300px;
  background-color: #f1f1f1;
  border-bottom: solid 1px rgba(0, 0, 0, 0.096);
  border-top: solid 1px rgba(0, 0, 0, 0.096);
  display: flex;
  overflow: auto;
}
.event_list img {
  width: 130px;
  height: 120px;
  margin: 5px 15px;
}

.col-1 {
  margin: 0 45px;
}
.col-1 h3 {
  font-family: "Raleway", sans-serif, "Open Sans", sans-serif;
  color: #097777;
  text-align: center;
}
.col-1 p {
  font-family: "Raleway", sans-serif, "Open Sans", sans-serif;
  color: rgba(31, 31, 31, 0.787);
  text-align: center;
}

.col-2 {
  margin: 0 45px;
}
.col-2 h3 {
  font-family: "Raleway", sans-serif, "Open Sans", sans-serif;
  color: #097777;
  text-align: center;
}
.col-2 p {
  font-family: "Raleway", sans-serif, "Open Sans", sans-serif;
  color: rgba(31, 31, 31, 0.787);
  text-align: center;
}
.col-2 img {
  width: 150px;
  height: 120px;
  margin: 5px 15px;
}

.col-3 {
  margin: 0 45px;
}
.col-3 h3 {
  font-family: "Raleway", sans-serif, "Open Sans", sans-serif;
  color: #097777;
  text-align: center;
}
.col-3 p {
  font-family: "Raleway", sans-serif, "Open Sans", sans-serif;
  color: rgba(31, 31, 31, 0.787);
  text-align: center;
}

footer {
  width: 100%;
  height: 100%;
  background-color: #a5a5a5;
  text-align: center;
  color: rgba(31, 31, 31, 0.787);
  font-family: "Raleway", sans-serif, "Open Sans", sans-serif;
  font-size: 10px;
}

.rodape {
  padding: 1px;
  margin: 0;
  font-family: "Raleway", sans-serif, "Open Sans", sans-serif;
}
.rodape a {
  color: #097777;
  font-family: "Raleway", sans-serif, "Open Sans", sans-serif;
}

.event-emphasis {
  margin-top: 40px;
  width: 100%;
  height: 200px;
  background-color: #f1f1f1;
  overflow: auto;
  box-sizing: border-box;
  padding: 5px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.096);
  border-top: solid 1px rgba(0, 0, 0, 0.096);
}
.event-emphasis .img-corpo {
  width: 50%;
  height: 100%;
  display: inline-block;
  box-sizing: border-box;
  float: left;
  margin: 0;
}
.event-emphasis .img-corpo img {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: solid 1px rgba(80, 80, 80, 0.308);
}
.event-emphasis .aviso {
  width: 50%;
  height: 100%;
  display: inline-block;
  box-sizing: border-box;
  background-color: rgba(228, 228, 228, 0.342);
  padding: 0 25px;
  border: solid 1px rgba(80, 80, 80, 0.308);
}
.event-emphasis .aviso h2 {
  margin: 5px 0;
  font-family: "Raleway", sans-serif, "Open Sans", sans-serif;
  color: #097777;
}
.event-emphasis .aviso p {
  font-family: "Raleway", sans-serif, "Open Sans", sans-serif;
  color: rgba(31, 31, 31, 0.787);
  font-size: 15px;
}
.event-emphasis .aviso p b {
  color: red;
}

/*# sourceMappingURL=index.css.map */
