@use "./variaveis";

body{
    margin: 0;
    padding: 0;
    color: white;
}

header {
  
    width: variaveis.$widthTotal;
    height: 45px;
    background-color: variaveis.$corCorpo;
    position: fixed;
    top: 0;
    box-sizing: border-box;
    border-bottom: solid 1px rgba(0, 0, 0, 0.096);
 
   nav{
       display:flex;
       justify-content: space-between;
       margin-top: 10px;
       box-sizing: border-box;
       white-space: nowrap;

       .logo{
           display: inline-block;
           margin: 0;
           padding: 0;
           a{
            text-decoration: none;
           }
           img{
            width: 25px;
            height: 20px;
            margin: 0 auto; 
        }
        h1{
            display: inline-block;
            margin: 0;
            font-size: 15px;

            a{
                color: rgba(82, 82, 82, 0.507);
                font-family: tahoma;
                text-shadow:1px 1px 2px rgba(35, 154, 175, 0.692); 
                margin-left: 10px ;
                text-decoration: none;
            }
        }
       }
       .search{
        margin-right: 10px;
        .site-search{
            font-size: variaveis.$fontSize_Search;
        }
   }

    .button-top{
        color: rgba(51, 117, 161, 0.603);
        font-size: variaveis.$fontSize_Search;

    }
}  }

.form{
        margin-top: 10px;
        width: variaveis.$widthTotal;
        height: 300px;
        background-color:variaveis.$corCorpo;
        border-bottom: solid 1px rgba(0, 0, 0, 0.096);
        border-top: solid 1px rgba(0, 0, 0, 0.096);
        
        h3{
            color:variaveis.$colorH;
            font-family: variaveis.$font_Family;
            margin: 10px 15px;
        }
        label{
            color:variaveis.$colorP;
            font-family: variaveis.$font_Family;
            margin: 14px 15px;
        }
        input{
            margin: 0px 15px ;
        }
        textarea{
            margin: 10px 15px ;
        }
}
.event_list{
        margin-top: 10px;
        width: variaveis.$widthTotal;
        height: 300px;
        background-color:variaveis.$corCorpo;
        border-bottom: solid 1px rgba(0, 0, 0, 0.096);
        border-top: solid 1px rgba(0, 0, 0, 0.096);
        display: flex;
        img{
            width: 130px;
            height: 120px;
            margin: 5px 15px;
        }
}
.col-1{
    margin: variaveis.$marginCol;
    h3{
        font-family: variaveis.$font_Family;
        color: variaveis.$colorH;
        text-align: variaveis.$alinharTexto;
    }
    p{
        font-family: variaveis.$font_Family;
        color: variaveis.$colorP;
        text-align: variaveis.$alinharTexto;
    }
}
.col-2{
    margin: variaveis.$marginCol;
    h3{
        font-family: variaveis.$font_Family;
        color: variaveis.$colorH;
        text-align: variaveis.$alinharTexto;
    }
    p{
        font-family: variaveis.$font_Family;
        color: variaveis.$colorP;
        text-align: variaveis.$alinharTexto;
    }
    img{
            width: 150px;
            height: 120px;
            margin: 5px 15px;
    }
}
.col-3{
    margin: variaveis.$marginCol;
    h3{
        font-family: variaveis.$font_Family;
        color: variaveis.$colorH;
        text-align: variaveis.$alinharTexto;
        
    }
    p{
        font-family: variaveis.$font_Family;
        color: variaveis.$colorP;
        text-align: variaveis.$alinharTexto;
    }
    
}


footer{
   
    width: variaveis.$widthTotal;
    height:100%;
    background-color: rgb(165, 165, 165);
    text-align: center;
    color: variaveis.$colorP;
    font-family:  variaveis.$font_Family;
    font-size: 10px;
  
}
.rodape{
    padding: 1px;
    margin: 0;
    font-family:  variaveis.$font_Family;
    a{
        color:variaveis.$colorH ;
        font-family:  variaveis.$font_Family;
    }
  }


.event-emphasis{
        margin-top: 40px;
        width: variaveis.$widthTotal;
        height: 200px;
        background-color: variaveis.$corCorpo;
        overflow: auto;
        box-sizing: border-box;
        padding: 5px;
         border-bottom: solid 1px rgba(0, 0, 0, 0.096);
        border-top: solid 1px rgba(0, 0, 0, 0.096);

    .img-corpo{
        @include variaveis.flexBox_(50%, 100%, inline-block, border-box);
          float: left;

            img{
                width: variaveis.$widthTotal;
                height: 100%;
                box-sizing: border-box;
                border: solid 1px rgba(80, 80, 80, 0.308); ;
                } 
              }

        .aviso{
            @include variaveis.flexBox_(50%, 100%, inline-block, border-box);
            background-color: rgba(228, 228, 228, 0.342);
            padding: 0 25px;
            border: solid 1px rgba(80, 80, 80, 0.308); ;
            
            h2{            
                font-family: variaveis.$font_Family;
                color: variaveis.$colorH;
            }
            p{
                font-family: variaveis.$font_Family;
                color: variaveis.$colorP;;
                b{
                    color: red;
                }
            }

}


}