<div class="container row" >
    <h1>Bebidas</h1>
    <br>
    <div *ngFor="let item of listBebidas  " class="col" style="width: 18rem; ">
        <div class="card" style="width: 18rem; margin-left: 150px;
        margin-right: 50px; margin-top: 20px;">
           <img src="{{item.src}}" class="card-img-top" alt="..." style="height: 200px;">
           <div class="card-body ">
             <h5 class="card-title">{{item.produto}}</h5>
             <p class="card-text">R${{item.preco}}</p>
             <p>{{item.descricao}}</p>
             <a  class="btn btn-danger" [routerLink]="['/comida']">{{item.btnText}}
            
             </a>
           </div>
         </div>
     </div>
    </div>