<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="https://images.vexels.com/media/users/3/224190/isolated/lists/24b736f9b3abe61fa9684004eb7d2721-logotipo-de-hamburguer-de-fast-food.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
        NG-FOOD
      </a>
    
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
          <li class="nav-item ">
            <a class="nav-link active " aria-current="page" href="#">Cardápio</a>
          </li>
          </ul>
        </div>
  </nav>